openai
langchain
pinecone-client
python-dotenv
tiktoken
matplotlib
pypdf
docx2txt
wikipedia
pandas
torch
torchsummary
torchvision
scikit-learn
keras
tensorflow
opencv-python
pytesseract
plotly
torchinfo
seaborn
yfinance
pandas_datareader
missingno
colorama
imblearn
wordcloud
xgboost
nltk